.about {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  width: 100%;
  height: auto;
}
.about > .text-block {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 90%;
  height: auto;
}

.about > .text-block > h1 {
  font-weight: 400;
  font-size: 50px;
}
.about > .text-block > p {
  font-weight: 150;
  font-size: 30px;
  white-space: pre-line;
}

.about > .about-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 0;
  padding: 0;
}

.about > .about-cards > .about-card {
  display: flex;
  flex-direction: column;

  margin: 0 50px;
  margin-bottom: 30px;
  padding: 0;

  width: 500px;
  height: 500px;
}

.about > .about-cards > .about-card > .card-img {
  margin: 10px auto;
  padding: 0;
}

.about > .about-cards > .about-card > .text-block {
  background-color: var(--block-grey-color);

  border: none;
  border-radius: 50px;

  margin: 0 auto;
  padding: 0;

  width: 100%;
  height: 100%;

  text-align: center;
  font-weight: 240;
  font-size: 35px;
}
