.equipment-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.equipment-container > .equipment {
  margin: 0;
  margin-left: 45px;
  padding: 0;
  width: calc(100% - 45px);
  height: auto;
}

.equipment-container > .equipment > h1 {
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.equipment-container > .equipment > .equipment__carousel {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.equipment-container > .equipment > .equipment__carousel > .nav {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(210, 210, 210);
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 auto 0 auto;
  padding: 0;
  border: none;
  border-radius: 1rem;

  cursor: pointer;

  &.left {
    grid-column: 1;
  }
  &.right {
    grid-column: 3;
  }

  img {
    height: 3rem;
    width: 3rem;
  }
}

.equipment-container
  > .equipment
  > .equipment__carousel
  > .carousel__placeholder {
  grid-column: 2;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.equipment-container
  > .equipment
  > .equipment__carousel
  > .carousel__placeholder
  > .carousel {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  position: relative;
  perspective: "500px";
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equipment-container
  > .equipment
  > .equipment__carousel
  > .carousel__placeholder
  > .carousel
  > .card-container {
  width: auto;
  height: calc(auto - 4rem);
  margin: 0;
  padding: 0;

  position: absolute;
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -7rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
  background-color: rgb(210, 210, 210);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.equipment-container
  > .equipment
  > .equipment__carousel
  > .carousel__placeholder
  > .carousel
  > .card-container
  > .equipment-item {
  border-radius: 1rem;

  width: calc(25rem - 4rem);
  height: auto;
  margin: 0 auto 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  h1 {
    margin: 0;
    padding: 0;
  }

  img {
    height: 20rem;
    width: 20rem;
    margin: 0;
    padding: 0;
  }

  .equipment-item__inner-text {
    margin: 0;
    margin-top: 1rem;
    p {
      margin: 0;
      padding: 0;
    }

    h3 {
      margin: 0;
      margin-top: 1rem;
      padding: 0;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 0 1.2rem;
      }
    }
  }
}
