.projects-container {
  display: flex;
  flex-direction: row;

  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 45px;
  padding: 0;
  width: calc(100% - 45px);
  height: auto;
}

.projects > h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
}

.projects > .projects-list {
  display: flex;
  flex-direction: column;
}

.projects > .projects-list > .project__card {
  background-color: var(--block-grey-color);

  border: none;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  margin: 0 10% 20px 10%;
  padding: 0;
}

.projects > .projects-list > .project__card > .project__info {
  margin: 10px 50px 0 20px;
  padding: 0;
}

.projects > .projects-list > .project__card > .project__info > h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 35px;
}

.projects > .projects-list > .project__card > .project__img {
  border-right: 3px solid black;
  width: 450px;
  height: 350px;
}
