:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-image: url('https://thumb.tildacdn.com/tild3564-3439-4061-a539-376639336337/-/cover/560x400/center/center/-/format/webp/IMG_3800.JPG');
  --background-color: #f4f3f3;
  --blue-color: #3c649c;
  --light-blue-color: #9cbcf4;
  --grey-color: #f0f0f0;
  --white-color: white;
  background-color: var(--background-color);

  min-width: 1200px;
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
}
